<%- include("partials/header"); -%>

<h1>Home</h1>
<p><%= homeContent %></p>

<% postList.forEach(function(post) {%>
    <div class="postItem">
        <h1><%= post.title %></h1>
        <p><%= post.content %></p>
    </div>
<% }); %>

<%- include("partials/footer"); -%>